
table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
}

td {
    padding: 3px 5px;
}

td:hover {
    background-color: #ddd;
}

th.cmd {
    font-size: x-small;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

th {
    font-weight: bold;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
}

td {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}